{% extends "layout.html" %}

{% block title %}
    Gyms
{% endblock %}

{% block head %}
{{ super() }}
    <script src="{{ url_for('static', filename = 'stars.js') }}"></script>
{% endblock %}
{% block body %}

    <h1>{{ gyms.gym }}</h1>
    <br>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="table-responsive-sm">
                <table class="table table-bordered table-sm">
                    <tr>
                        <th style="width: 15%">Location</th>
                        <th style="width: 50%">Website</th>
                        <th style="width: 15%">$ per Session</th>
                        <th style="width: 10%">Weekly $</th>
                        <th style="width: 10%">Monthly $</th>
                    </tr>
                    <tr>
                        <td>{{ gyms.city }}</td>
                        <td>Website</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% for rating in ratings %}

        <div class="row justify-content-center my-3">
            <div class="col-12 col-lg-10">
                <div class="card">
                    <div class="card-header py-1" style="background-color: #B4D7BF;">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-auto">
                                <span class="ratingname">Training: </span><span class="rating">{{rating.rating_training}}</span>
                            </div>
                            <div class="col-12 col-md-auto">
                                <span class="ratingname">Facility: </span><span class="rating">{{rating.rating_facility}}</span>
                            </div>
                            <div class="col-12 col-md-auto">
                                <span class="ratingname">Location/Cost: </span><span class="rating">{{rating.rating_location}}</span>
                            </div>
                            <div class="col-12 col-md-auto">
                                <span class="ratingname">Overall: </span><span class="rating">{{rating.rating}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body py-2">
                        <p class="card-text">{{rating.review}}</p>
                    </div>
                    <div class="card-footer py-1">
                        <div class="row">
                            <div class="col-12 col-md-8 footercol1">
                                <span class="footer">By 
                                    <a href="{{ url_for('main_app.view_user_profile', username = rating.username) }}">{{rating.username}}</a>                                    
                                    on {{rating.review_date.strftime('%m/%d/%Y')}} - Stayed {{rating.stay_length}} - <i class="far fa-thumbs-up"></i> {{rating.count}}</span>
                            </div>
                            {% if g.user['id'] == rating['userid'] %}
                                <div class="col-12 col-md-4 footercol2">
                                    <span class="cardbuttons">
                                        <form action="{{ url_for('main_app.delete', id = rating['reviewid']) }}" method="POST" style="display: inline-block;">
                                            <button type="submit" value="delete" class="btn btn-danger btn-sm btnspace" onclick="return confirm('Are you sure?');">
                                                <i class="far fa-trash-alt"></i> Delete</button>
                                        </form>
                                        <form action="{{ url_for('main_app.update', id = rating['reviewid']) }}" method="GET" style="display: inline-block">
                                            <button type="submit" class="btn btn-warning btn-sm btnspace">
                                                <i class="far fa-edit"></i> Edit</button>
                                        </form>
                                    </span>
                                </div>
                            {% elif g.user %}
                                <div class="col-12 col-md-4 footercol2">
                                    <span class="cardbuttons">
                                        <form action="{{ url_for('main_app.like_review', id = rating['reviewid']) }}" method="POST" style="display: inline-block;">
                                            <button type="submit" class="btn btn-success btn-sm btnspace">
                                                <i class="fas fa-thumbs-up"></i></button>
                                        </form>
                                        <form action="{{ url_for('main_app.unlike_review', id = rating['reviewid']) }}" method="POST" style="display: inline-block;">
                                            <button type="submit" class="btn btn-danger btn-sm btnspace">
                                                <i class="fas fa-thumbs-down"></i></button>
                                        </form>
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <table>
                    <tr>
                        <th>No Ratings</th>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}