{% extends "layout.html" %}

{% block title %}
    Gyms
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="{{ url_for('static', filename = 'stars.js') }}"></script>
{% endblock %}
{% block body %}

    <h1>{{ gyms.gym }}</h1>
    <br>
    <div class="row">
        <div class="col-12">
            <table class="table table-sm">
                <tr>
                    <th style="width: 10%">Location</th>
                    <th style="width: 60%">Website</th>
                    <th style="width: 10%">$ per Session</th>
                    <th style="width: 10%">Weekly $</th>
                    <th style="width: 10%">Monthly $</th>
                </tr>
                <tr>
                    <td>{{ gyms.city }}</td>
                    <td>Website</td>
                    <td>300</td>
                    <td>3000</td>
                    <td>10000</td>
                </tr>
            </table>
        </div>
    </div>

    <h2>Reviews</h2>

    {% for rating in ratings %}
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 8%"><u>Date</u></th>
                        <th style="width: 8%"><u>User</u></th>
                        <th colspan="5"><u>Review</u>&nbsp&nbsp
                        {% if g.user['id'] == rating['userid'] %}
                        <form action="{{ url_for('main_app.delete', id = rating['reviewid']) }}" method="POST" class="inline">
                            <button type="submit" value="delete" onclick="return confirm('Are you sure?');" style="border:0; background: none;">
                                <i class="far fa-trash-alt"></i></button>
                        </form>
                        <form action="{{ url_for('main_app.update', id = rating['reviewid']) }}" method="GET" class="inline">
                            <button type="submit" style="border:0; background: none;">
                                <i class="far fa-edit"></i></button>
                        </form>
                        {% endif %}
                        </th>
                        <th style="text-align:right; width: 13%"><span class ='notbold'>Length of Stay:</span></th>
                        <th style="text-align:right"><span class='notbold'>{{rating.stay_length}}</span></th>
                    </tr>
                    <tr>
                        <td>{{rating.review_date.strftime('%m/%d/%Y')}}</td>
                        <td>{{rating.username}}</td>
                        <td colspan="9">{{rating.review}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"><b>Ratings</b></td>
                        
                        <td style="text-align:right; width: 8%"><i>Training: </i></td>
                        <td style="text-align:right; width: 13%"><span class="rating">{{rating.rating_training}}</span></td>
                        <td style="text-align:right; width: 8%"><i>Facility: </i></td>
                        <td style="text-align:right; width: 13%"><span class="rating">{{rating.rating_facility}}</span></td>
                        <td style="text-align:right; width: 8%"><i>Location/Cost: </i></td>
                        <td style="text-align:right; width: 13%"><span class="rating">{{rating.rating_location}}</span></td>
                        <td style="text-align:right; width: 5%"><i>Overall: </i></td>
                        <td style="text-align:right; width: 13%"><span class="rating">{{rating.rating}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
    {% else %}
        <div class="row">
            <div class="col-12">
                <table>
                    <tr>
                        <th>No Ratings</th>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}