{% extends "layout.html" %}

{% block title %}
    Gyms
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="{{ url_for('static', filename = 'stars.js') }}"></script>
{% endblock %}
{% block body %}

    <h1>{{ gyms.gym }}</h1>
    <br>
    <div class="row justify-content-center">
        <div class="col-10">
            <table class="table table-bordered table-sm">
                <tr>
                    <th style="width: 15%">Location</th>
                    <th style="width: 50%">Website</th>
                    <th style="width: 15%">$ per Session</th>
                    <th style="width: 10%">Weekly $</th>
                    <th style="width: 10%">Monthly $</th>
                </tr>
                <tr>
                    <td>{{ gyms.city }}</td>
                    <td>Website</td>
                    <td>300</td>
                    <td>3000</td>
                    <td>10000</td>
                </tr>
            </table>
        </div>
    </div>

    <h2>Reviews</h2>

    {% for rating in ratings %}
        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 8%"><u>Date</u></th>
                        <th style="width: 10%"><u>User</u></th>
                        <th style="width: 7%"><u>Review</u></th>
                        <th colspan="5">
                        {% if g.user['id'] == rating['userid'] %}
                            <form action="{{ url_for('main_app.delete', id = rating['reviewid']) }}" method="POST" style="display: inline-block">
                                <button type="submit" value="delete" onclick="return confirm('Are you sure?');" style="border:0; background: none;">
                                    <i class="far fa-trash-alt"></i></button>
                            </form>
                            <form action="{{ url_for('main_app.update', id = rating['reviewid']) }}" method="GET" style="display: inline-block">
                                <button type="submit" style="border:0; background: none;">
                                    <i class="far fa-edit"></i></button>
                            </form>
                        {% endif %}
                        </th>
                        <th style="text-align:right; width: 8%"><span class ='notbold'>Stay:</span></th>
                        <th style="text-align:right; width: 12%"><span class='notbold'>{{rating.stay_length}}</span></th>
                    </tr>
                    <tr>
                        <td>{{rating.review_date.strftime('%m/%d/%Y')}}</td>
                        <td>{{rating.username}}</td>
                        <td colspan="8">{{rating.review}}</td>
                    </tr>
                    <tr>                        
                        <td colspan="2" style="width: 25%; padding:5px 10px; text-align: center"><i>Training: &nbsp<span class="rating">{{rating.rating_training}}</span></i></td>
                        <td colspan="2" style="width: 20%; padding:5px 10px; text-align: center"><i>Facility: &nbsp<span class="rating">{{rating.rating_facility}}</span></i></td>
                        <td colspan="3" style="width: 25%; padding:5px 10px; text-align: center"><i>Location/Cost: &nbsp<span class="rating">{{rating.rating_location}}</span></i></td>
                        <td colspan="3" style="width: 25%; padding:5px 10px; text-align: center"><i>Overall: &nbsp<span class="rating">{{rating.rating}}</span></i></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-10">
                <table>
                    <tr>
                        <th>No Ratings</th>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}