h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

p {
    margin: 0px;
    padding: 0px;
 }

.notbold{
    font-weight:normal
}​

/*.table-borderless td, .table-borderless th { 
    border: 0;
}*/