h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    /**ffont-family: 'Montserrat', sans-serif;**/
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

img.login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

p {
    margin: 0px;
    padding: 0px;
 }

.notbold{
    font-weight:normal
}​

form.inline {
    display: inline;
}

.table-main th {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

label.custom-control-label {
    font-size: 16px;
}

span.sorticon {
    display: none;
}

th.header:hover span.sorticon {
    display: inline-block;
    position: absolute;
    right: 5px;
}

.table-borderless td, .table-borderless th, .table-borderless tr{
    border: none !important;
}

@media only screen and (max-width: 1026px) {
    th.header:hover span.sorticon {
        display: none;
    }
}

input.custom-range {
    vertical-align: -14px;
    display: inline-block;
}

output.custom-range {
    vertical-align: -8px;
}