{% extends "layout.html" %}

{% block title %}

    Register

{% endblock %}

{% block head %}

{{ super() }}

{% endblock %}

{% block body %}

    <h1>Register</h1>

    <div class="row justify-content-md-center">
    
        <div class="col col-sm-3">
    
            <img src='/static/register.png' class="login">
    
        </div>
    
    </div>
    
    <div class="row justify-content-md-center">
    
        <div class="col col-sm-3 py-0">

            <form action = "{{ url_for('auth.register') }}" method = "post">

                <div class = "form-group">
                    <label>Username</label>
                    <input class="form-control" name = "username" placeholder="Username">
                </div>

                <div class = "form-group">
                    <label>Password</label>
                    <input type = "password" class="form-control" name = "password" placeholder="Password">
                </div>

                <div class = "form-group">
                    <button class="btn btn-primary">Submit</button>
                </div>
            
            </form>

        </div>

    </div>

{% endblock %}